.running-wrap{
    position: relative;
    width: 1300px;
    height: 240px;
    margin:150px auto;
    background-color: #333333;
    color: beige;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.person{
    position: absolute;
    height: 75px;
    width: 0;
    color: #fff;
    left: 60px;
    top:25px;
    transform-origin: 50% 50% 0;
    animation: person 5s infinite linear;
}
@keyframes person {
    0% {transform: translateX(-200px);}
    100% {transform: translateX(1400px)}
}
.head{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid white;
    transform-origin: 50% 100%;
    z-index: 111;
    animation-name: head;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes head {
    0% {transform: rotateZ(0deg);}
    25% {transform: rotateZ(20deg);}
    75% {transform: rotateZ(-20deg);}
    100% {transform: rotateZ(0deg);}
}
.hat{
    position: absolute;
    width: 42px;
    height: 2.7px;
    border-radius: 20%;
    border: 4px solid white;
    background-color: #fff;
    left: -6px;
}
.hat-discover{
    width: 15px;
    height: 12px;
    position: absolute;
    background-color: #fff;
    border-radius: 30%;
    border: 4px solid white;
    top:-12px;
}
.arm-one,.arm-two{
    position: absolute;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    width: 45px;
    height: 39px;
    top:2px;
    left: 8px;
    transform-origin: 0% 100%;
    animation-name:arm;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.arm-one{
    animation-delay: 0s;
}
.arm-two{
    animation-delay: 0.5s;
}
@keyframes arm {
    0% {transform: rotateZ(30deg);}
    50% {transform: rotateZ(150deg);}
    100% {transform: rotateZ(30deg);}
}
.body{
    position: absolute;
    height: 60px;
    width: 0;
    border: 2px solid white;
    top:42px;
    left: 8px;
}
.leg-one,.leg-two{
    position: absolute;
    height: 54px;
    width: 50px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    top:106px;
    left: -44px;
    transform-origin:100% 0%;
    animation-name:leg;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.leg-one{
    transform: rotateZ(10deg);
    animation-delay: 0s;
}
.leg-two{
    animation-delay: 0.5s;
}
@keyframes leg {
    0% {transform: rotate(-60deg);}
    50% {transform: rotate(60deg);}
    100% {transform: rotate(-60deg);}
}
